{% extends 'form/tailwind_base.html.twig' %}

{%- block form_row -%}
    {% set row_attr = row_attr|merge_attr_class('sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5') %}
    {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    <div {% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {{- form_label(form) -}}
        <div class="mt-1 sm:mt-0 sm:col-span-2">
            {{- form_widget(form, widget_attr) -}}
            <div id="{{ id ~"_help" }}">
                {{- form_help(form) -}}
                {{- form_errors(form) -}}
            </div>
        </div>
    </div>
{%- endblock form_row -%}

{% block form_help -%}
    {%- if help is not empty -%}
        {%- set help_attr = help_attr|merge_attr_class('text-sm text-gray-500') -%}
        <p {% with { attr: help_attr } %}{{ block('attributes') }}{% endwith %}>
            {%- if translation_domain is same as(false) -%}
                {%- if help_html is same as(false) -%}
                    {{- help -}}
                {%- else -%}
                    {{- help|raw -}}
                {%- endif -%}
            {%- else -%}
                {%- if help_html is same as(false) -%}
                    {{- help|trans(help_translation_parameters, translation_domain) -}}
                {%- else -%}
                    {{- help|trans(help_translation_parameters, translation_domain)|raw -}}
                {%- endif -%}
            {%- endif -%}
        </p>
    {%- endif -%}
{%- endblock form_help %}
