{% extends '@ParkManagerCore/admin/security/layout.html.twig' %}

{% set page_heading = 'password_reset.admin_heading'|trans %}

{% block content %}
    <div class="mt-5 mb-4 text-muted text-center">
        {{ 'password_reset.paragraph.html'|trans|raw }}
    </div>
    {{ form_start(form) }}
        {{ form_row(form.email) }}
        <div>
            <button type="submit" name="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded focus:outline-none focus:shadow-outline w-full mb-4">{{ 'password_reset.submit_button'|trans }}</button>
        </div>
    {{ form_end(form) }}
{% endblock content %}
