{% if app.session is not null and app.session.started %}
    {% for type in ['success', 'error', 'info', 'warning'] %}
        {% for flash in app.session.flashbag.get(type) %}
            {% if 'error' == type %}
                {% set color = 'red' %}
            {% endif %}
            {% if 'warning' == type %}
                {% set color = 'orange' %}
            {% endif %}
            {% if 'info' == type %}
                {% set color = 'blue' %}
            {% endif %}

            {% set color = color|default('green') %}
            <div class="bg-gray-100 border-l-4 border-{{ color }}-500 text-{{ color }}-700 p-4 mb-4" role="alert">
                <p class="font-bold">{{ ('ui.' ~ type)|trans }}</p>
                <p>{% apply spaceless %}
                    {% if flash is iterable %}
                        {{ flash.message|trans(flash.parameters, 'messages')|raw }}
                    {% else %}
                        {{ flash|trans({}, 'messages')|raw }}
                    {% endif %}
                {% endapply %}</p>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
