{% extends '@Lifthill/datagrid.html.twig' %}

{# Base blocks #}

{% block datagrid_container -%}
    {% set attr = attr|merge({'class': 'min-w-full divide-y divide-gray-200 shadow overflow-hidden border-b border-gray-200 sm:rounded-lg' }) %}

    {%- if search_config is defined -%}
        <form action="{{ app.request.uri }}" method="POST" name="{{ name }}" class="mb-5 py-5 px-5 bg-white rounded-md">
            <label for="{{ name }}_search_field"class="block text-xl font-medium leading-6 text-gray-900">Search</label>

            <div>
                <div class="mt-2">
                    <div id="{{ name }}_search_help">
                    </div>

                    <textarea id="{{ name }}_search_field" aria-describedby="{{ name }}_search_help" name="{{ name }}[_search_query]" rows="4" cols="50" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6{% if search_errors is defined %} border-red-300 text-red-900 placeholder-red-300 focus:ring-red-500 focus:border-red-500 {% else %}{% endif %}">
                        {{- search_condition|default('') -}}
                    </textarea>

                    {% if search_errors is defined %}
                        <ul id="search_errors" class="pt-1 pb-1">
                            {% for error in search_errors|default([]) %}
                                <li class="flex">
                                    <!-- Heroicon name: exclamation-circle -->
                                    <svg class="h-5 w-5 text-red-500 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd"/>
                                    </svg>
                                    <span class="sr-only">{{ 'Error'|trans({}, 'validators') }}</span>
                                    <span class="text-red-500 text-xs mr-2 text-left flex-auto">{{ error.path }} {{ error|trans() }}</span>
                                </li>
                            {%- endfor -%}
                        </ul>
                    {% endif %}
                </div>
            </div>

            <div class="mt-4 sm:flex sm:items-center">
                <div class="sm:flex-auto">

                </div>
                <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
                    <button type="submit" name="{{ name }}[_search]" value="1" class="inline-flex items-center gap-x-1.5 rounded-md px-4 py-2 font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ml-0.5 h-5 w-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
                        </svg>
                        <span>Search</span>
                    </button>
                </div>
            </div>
        </form>
    {%- endif -%}

    <table{{ block('attributes') }}>
        <thead class="bg-gray-50">
        <tr>
            {% for header in columns -%}
                {{ lifthill_datagrid_column_header(header, header_attr|default([])) }}
            {% endfor -%}
        </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
        {% for index, row in rows -%}
            {# The row is its own view type (DatagridRowView). This would result in many block renderings #}
            <tr id="{{ name ~ '_row_' ~ index }}"{% with { attr: row.vars.attr } %}{{ block('attributes') }}{% endwith %}>
                {% for cell in row -%}
                    {{ lifthill_datagrid_column_cell(cell) }}
                {% endfor -%}
            </tr>
        {% endfor -%}
        </tbody>
    </table>

    {{ lifthill_datagrid_pager(name, pager, 'twig') }}
{%- endblock %}

{% block column_header -%}
    {% set attr = attr|merge({'class': 'px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider' }) %}
    {{ parent() }}
{%- endblock %}

{% block column_cell -%}
    {% set attr = attr|merge({'class': 'px-6 py-4 whitespace-nowrap' }) %}
    <td {{ block('attributes') }}>{%- if use_raw -%}{{ value|raw }}{% else -%}{{ value }}{% endif -%}</td>
{%- endblock %}

{% block compound_column_cell -%}
    {% set attr = attr|merge({'class': 'px-6 py-4 whitespace-nowrap' }) %}

    <td{{ block('attributes') }}>
        {% for subCell in value -%}
            {{- lifthill_datagrid_column_cell(subCell) -}}
        {% endfor -%}
    </td>
{%- endblock %}

{# Core extension blocks #}

{% block action_cell -%}
    {% set attr = attr|merge({'class': 'px-6 py-4 whitespace-nowrap' }) %}

    {%- if content is empty -%}
        {%- set content = name|humanize -%}
    {% endif -%}

    {%- set url_attr = url_attr|merge({'href' : url}) -%}
    {%- if compound|default(false) %}
        <a{% with { attr: url_attr } %}{{ block('attributes') }}{% endwith %}>{{ content|raw }}</a>
    {% else %}
        <td{{ block('attributes') }}><a{% with { attr: url_attr } %}{{ block('attributes') }}{% endwith %}>{{ content|raw }}</a></td>
    {%- endif %}
{%- endblock %}

{% block datetime_cell %}
    {% set value_attr = {'class': 'flex items-center text-sm text-gray-90' } %}
    {{ parent() }}
{% endblock %}

