{% extends 'client/security/layout.html.twig' %}

{% set page_heading = 'password_reset.client_heading'|trans %}

{% block content %}
{{ 'password_reset.confirm.html'|trans|raw }}

{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.password) }}
    <div>
        <button type="submit" name="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded focus:outline-none focus:shadow-outline w-full mb-4">{{ 'button.change_password'|trans }}</button>
    </div>
{{ form_end(form) }}
{% endblock content %}
