{% extends '@ParkManager/web/security/layout.html.twig' %}

{% set page_heading = 'password_reset.admin_heading'|trans %}

{% block content %}
    <div class="ui raised segment left aligned">
        {{ 'password_reset.paragraph.html'|trans|raw }}
    </div>
    {{ form_start(form, {'attr': {'class': 'ui large form'} }) }}
        <div class="ui stacked segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i><!-- {{ form_label(form.email) }} -->
                    {{ form_widget(form.email, {'attr': {'placeholder': 'label.email' } }) }}
                </div>
            </div>
            <button type="submit" name="submit" class="ui fluid large teal submit button">{{ 'password_reset.submit_button'|trans }}</button>
        </div>
    {{ form_end(form) }}
{% endblock content %}
