{% extends '@ParkManager/web/security/layout.html.twig' %}

{% set page_heading = 'password_reset.admin_heading'|trans %}
{% if error is defined %}
    {% set error = error|trans({'%reset_url%': path('park_manager.administrator.request_password_reset')})|raw %}
{% endif %}

{% block content %}
{% if form is defined %}
    <div class="ui raised segment left aligned">
        {{ 'password_reset.confirm.html'|trans|raw }}
    </div>

    {{ form_start(form, {'attr': {'class': 'ui large form'} }) }}
        <div class="ui stacked segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i><!-- {{ form_label(form.password) }} -->
                    {{ form_widget(form.password.first, {'attr': {'placeholder': 'label.password'|trans } }) }}
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i><!-- {{ form_label(form.password) }} -->
                    {{ form_widget(form.password.second, {'attr': {'placeholder': 'label.password2'|trans } }) }}
                </div>
            </div>
            <button type="submit" name="submit" class="ui fluid large teal submit button">{{ 'button.change_password'|trans }}</button>
        </div>
    {{ form_end(form) }}
{% endif %}
{% endblock content %}
